.flex.xs12 {
padding-right: 5px !important;
    padding-left: 5px !important;
    padding: 10px;
}

.accent {
    background-color: #fff59d !important;   
}

th, td {   
   text-align: Center;
   border: 2px solid#ffffff;   
}

.iconnew {
  color: darkgreen;
  margin: 1px; 
}

.icondelete {
  color: red;
}

.iconedite {
  color: yellow;  
}  



    


  