.flex.xs12 {
padding-right: 5px !important;
    padding-left: 5px !important;
    padding: 10px;
}

.accent {
    background-color: #fff59d !important;
        }

.imagestore {
    height:200px;
    width:200px;
    border-radius:0px;
    
        } 
        
.toolbarfav {
background-color: black;
}




             




    


  