@font-face {
  font-family: 'betty_molly_-_personal_useRg';
  src: url('../../../src/app/fonts/betty_molly_-_personal_use-webfont.woff2') format('woff2'),
       url('../../../src/app/fonts/betty_molly_-_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'the_humble-webfont';
  src: url('../../../src/app/fonts/the_humble-webfont.woff2') format('woff2'),
       url('../../../src/app/fonts/the_humble-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bubbleshine-webfont';
  src: url('../../../src/app/fonts/bubbleshine-webfont.woff2') format('woff2'),
       url('../../../src/app/fonts/bubbleshine-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.v-overlay {
  filter: blur(80px);
  background: #ffffff57;
}

.transparent {
  background: transparent !important;
}

.application {
  background: transparent !important;
  color: rgba(0,0,0,0.87) !important;
}
.flex {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: -5px;
}



.hidden{
  display:none !important;
}


a:hover {
    color: white;
    text-decoration: none;
}

.code {
  width: 80px;
  min-width: 80px;
}

.switchclass {
  padding-top: 0px;
}

.img-perfile{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}

img.perfil_registro {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 120px;
}

.v-card__title.headline {
  background-color: orangered;
}

.file-uploads {
  width: 90px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff000000;
  top: -25px;
}

.button {
   border-radius: 90px !important;
   }

   .menjErr {
    animation-name: menjErr;
    animation-duration: .5s;
    animation-delay: 0.25s;
    color: #ef6c00;
  }
  
  .imagen:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    transition-duration: 0.5s, 2s, 0.5s, 2s;
  }
  
  @keyframes menjErr {
      0% {
        transform: translateX(0px);
        timing-function: ease-in;
      }
      37% {
        transform: translateX(5px);
        timing-function: ease-out;
      }
      55% {
        transform: translateX(-5px);
        timing-function: ease-in;
      }
      73% {
        transform: translateX(4px);
        timing-function: ease-out;
      }
      82% {
        transform: translateX(-4px);
        timing-function: ease-in;
      }
      91% {
        transform: translateX(2px);
        timing-function: ease-out;
      }
      96% {
        transform: translateX(-2px);
        timing-function: ease-in;
      }
      100% {
        transform: translateX(0px);
        timing-function: ease-in;
      }
    }

.iconTab {

    margin-bottom: -15px !important;
    padding-top: 22px;    
}


.application--wrap {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/backgroupMax992px.png?alt=media&token=d28aa9e4-9b34-41e4-b9cd-c6f9d32132e3');
}

@media only screen and (max-width: 600px) {
  .application--wrap {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/backgroupMax600px.png?alt=media&token=f2f65661-f94d-4fa5-9827-36804abfc1eb');
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .application--wrap {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/backgroupMax768px.png?alt=media&token=14b68250-7f4c-4235-952d-a6426f4f32ca');
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .application--wrap {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/backgroupMax992px.png?alt=media&token=d28aa9e4-9b34-41e4-b9cd-c6f9d32132e3');
  }
}

@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
}

@media only screen and (orientation: landscape) {
  body {
    background-color: lightblue;
  }
}

@media screen and (min-device-width: 1100px) and (max-device-width: 1800px) {
  .application--wrap {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/backgroupMax992px.png?alt=media&token=d28aa9e4-9b34-41e4-b9cd-c6f9d32132e3');
  }
}

.application--wrap {
  /* padding: 2px 8px 2px 8px !important; */
  background-repeat: no-repeat;
  /* padding: 50px !important; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
}

.application--wrap {
  background-color: rgb(255, 255, 255);
  background-image: 'https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/backgroupMax600px.png?alt=media&token=f2f65661-f94d-4fa5-9827-36804abfc1eb';
}

button.v-btn.v-btn--flat.theme--dark {
  background: #362514;
}
i.v-icon.mdi.mdi-pencil.theme--light {
  COLOR: #af4daf;
}

i.v-icon.mdi.mdi-delete.theme--light {
  color: #891818cc;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}