.imgBackg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  margin: 7px;
}
.imglogo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 200px;
  height: 200px;
  /* -webkit-transform: scale(0.5); */
  transform: scale(0.3);
  /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(33 33 33)), to(rgb(33 33 33))), url(https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/Logo.png?alt=media&token=5a0c7b51-102c-4554-9575-c26f97691d17);
    background-image: linear-gradient(rgb(255 255 255 / 20%), rgb(195 195 195 / 14%)), url(https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/Logo.png?alt=media&token=5a0c7b51-102c-4554-9575-c26f97691d17);
  */
  top: -70px;
  left: 2px;
  padding: 8px;
  max-width: 200px;
  border: 1px solid #ffffff00;
  border-radius: 153px;
  box-shadow: 1px 6px 1px -3px #212121;
}

.nota {
  margin: 0 auto;
  display: inline-flex;
  line-height: 40px;
}

.da_compartir {
  font-size: calc(3em + 1vw);
}
.da_queremos {
  font-size: calc(2em + 1vw);
}

footer.d-block.justify-center.text-xs-center.theme--light.v-footer {
  background: #000000;
  color: white;
}

.da_queremos {
  font-family: 'betty_molly_-_personal_useRg';
  background: -webkit-linear-gradient(#64340a 10%, #ffa500);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #595959a1;
  text-shadow: 1px 0px 0px #4545450f;
}

.da_compartir {
  font-family: 'betty_molly_-_personal_useRg';
  background: -webkit-linear-gradient(#034bff, #aa20b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #595959a1;
  text-shadow: 1px 0px 0px #4545450f;
}

.quierenCompartir__ {
  text-align: center;
  margin: 0 auto;
}
.theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
  background: #2cd8ff6b !important;
}

.Btndelete__ {
  /* background: #e51919; */
  border: 1px solid #e51919;
  border-radius: 5px;
}

.Btnedit__ {
  border: 1px solid #af4daf;
  border-radius: 5px;
}

.fechaHora {
  font-family: 'betty_molly_-_personal_useRg';
  font-size: calc(1em + 2vw);
  text-align: center;
  text-shadow: 2px 3px 4px #00000012;
  padding-top: 16px;
  border-radius: 14px;
  border-color: #b4b4b4;
}

.containr_btn_add {
  display: block;
}

.container__formText1 {
  padding: 5px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 450px;
  margin: 0 auto;
}
.quierenCompartir {
  padding: 5px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 179px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/Quierencompartir.png?alt=media&token=81b157e8-bb28-4276-b9d6-b4a93a5a2f51);
  width: 450px;
  margin: 0 auto;
  margin-top: -44px;
}

.nota {
  font-weight: 900;
  text-transform: uppercase;
}

.nino__,
.nina__ {
  font-family: 'bubbleshine-webfont';
}

.line {
  width: 100%;
  height: 1px;
  background: #0939517d;
  filter: blur(0px);
  box-shadow: 1px 1px 1px #bcc7df;
}

.Sera_ninaOnino__ {
  margin: 0 auto;
  border-color: #b3b3b3;
  display: flex;
  border-radius: 11px;
  padding-top: 47px;
}

p.nino__,
p.nina__ {
  padding: 34px;
  margin: 10px;
  font-size: calc(3em + 2vw);
  margin: 2px;
}
p.nino__ {
  text-align: right;
  color: #0e52f7;
  width: 50%;
  padding: 0px 5px 70px 0px;
  margin: 2px;
  text-shadow: 1px 1px 52px #0048ff;
}

p.o__ {
  text-align: center;
  z-index: 1;
  font-family: 'the_humble-webfont';
  font-size: calc(1em + 2vw);
  color: #282626;
  margin: 10px;
  border-radius: 68px;
  line-height: 89px;
  padding: 28px 9px 0px 2px;
  color: #653a0b;
  text-shadow: 0px 0px 1px #ffdc67;
}
p.text-keyAccess {
  font-size: calc(0.7em + 0vw);
}
p.yourKey {
  color: #180c2a;
  padding-top: 20px;
}
p.text-keyAccess {
  color: black;
}

input#myInput {
  color: #8d511a;
}

p.note {
  color: #935c17;
  font-weight: 700;
  padding-top: 20px;
}

p.p_invt {
  font-weight: 500;
  color: #4e3416;
}

p.text_note {
  color: #2c1717;
}

.cont_nina,
.cont_nino {
  text-align: center;
  position: relative;
  margin: 0px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  width: 200px;
  position: relative;
  max-width: 200px;
  display: inline-block;
}

.team_nina:hover {
  transform: scale(1.2);
}
.team_nino:hover {
  transform: scale(1.2);
}


.team_nina:active {
  transform: scale(1.2);
}
.team_nino:active {
  transform: scale(1.2);
}

.titlesetTeam {
  background: #c3c3c37d;
  border: 1px solid #7e7e7e7d;
  height: 35px;
  padding: 5px;
  margin: 5px;
  color: #4a0c32;
  font-size: 15pt;
  line-height: 22px;
  text-shadow: 1px 1px 2px #fdfdfdc2;
  border-radius: 10px;
  margin-top: -41px;
  margin-bottom: 23px;
  border-bottom: 1px solid #505050;
}

.v_card_dial_team {
  background: linear-gradient(270deg, #f200ff, #0076ff);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 49%;
  }
  100% {
    background-position: 0% 52%;
  }
}

.titlesetNino {
  text-shadow: 0px 0px 1px #1058813d;
  background: -webkit-linear-gradient(#4c0830 20%, #893466 15%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #12c0ffa3;
}

.titlesetNina {
  text-shadow: 0px 0px 1px #1414143d;
  background: -webkit-linear-gradient(#4c0830 20%, #893466 15%, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ff37ada3;
}

.titlesetNina,
.titlesetNino {
  font-weight: 700;
  /* color: #f11095; */
  font-family: 'bubbleshine-webfont';
  font-size: 3em;
}
.titlesetTeam {
  font-size: 2em;
  filter: blur(13px);
}

p.nina__ {
}

.block {
  display: block;
}

.title_notify {
  background-color: rgb(76 98 151);
  color: #f5f8ff;
  font-weight: 100;
}

.btnCancel {
  background: #af4c0f;
}

.plus_peoples {
  background: #0b43cb;
  border-radius: 51px;
  color: white !important;
}

.container_nota {
  background: #e8e8e8d6;
  padding: 6px;
  border: 1px solid #d3d3d3;
  font-weight: 400;
  -webkit-box-shadow: 0px 2px 1px #dadada7a;
  box-shadow: 0px 2px 1px #dadada7a;
  text-shadow: 1px 1px 1px #b9b9b9a1;
  margin-bottom: 16px;
  border-radius: 0px 0px 3px 3px;
}

p.title_note {
  background: #6c6c6c;
  color: white;
  padding: 4px;
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
}

.cont_flugar {
  padding: 5px;
  margin: 5px;
  position: relative;
  width: 100%;
  display: inline-block;
  padding-top: 16px;
}

p.title_lugar {
  height: 29px;
  line-height: 18px;
  text-shadow: 1px 1px 1px #c4c4c4ed;
  color: #113e4d;
  width: 115px;
  text-align: center;
  margin: 0 auto;
  color: #7c1999;
}

p.dir_lugar {
  font-weight: 100;
  /* text-shadow: 0px 0px 1px white; */
  color: #35250f;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: #fff;
}

.lugar {
  font-family: 'the_humble-webfont';
  /* font-weight: 800; */
  color: #1e1e1e;
  /* text-shadow: 1px 1px 1px #ededed; */
  /* background: #a3a3a3b0; */
  padding: 10px;
  border-radius: 7px;
  text-shadow: 1px 1px 27px #fdfdfd;
  font-size: calc(0.4em + 2vw);
  padding-top: 17px;
  text-align: center;
}

.lugar1 {
  padding: 5px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 179px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/lugar.png?alt=media&token=39c7d0ac-12e1-4f48-bedc-c40e5632ec5e);
  width: 450px;
  margin: 0 auto;
  margin-top: -44px;
}
.ninaOnino {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 267px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/fir-gps-f49b1.appspot.com/o/ninaoninosera.png?alt=media&token=a43ad535-489e-48a5-a38c-089d8115ec0b);
  width: 370px;
  margin: 0 auto;
  margin-bottom: 34px;
  margin-top: 12px;
  margin-top: 22px;
  padding-bottom: 22px;
  max-width: 90%;
  -webkit-transform: scale(1);
  transform: scale(0.9);
}

.lista_invitado {
  margin: 0 auto;
}

.btn_buscar {
  width: 20%;
}

.btn_guardar {
  padding-left: 85px;
}

.title_ls_invitado {
  text-align: center;
  border-bottom: 1px solid #6713cc59;
  width: 314px;
  margin: 0 auto;
  padding-bottom: 6px;
}

.Main {
  background-size: 100px;
  background-position: top;
}
.imageSwap {
  position: absolute;
  color: yellow;
  padding: 150px;
  bottom: 130px;
  right: 500px;
}
#MakeHappy {
  color: white;
  position: absolute;
  right: 660px;
}
#Contact {
  color: white;
  position: absolute;
  right: 660px;
  bottom: 10px;
  transform: rotate(180deg);
}
#Suscribe {
  color: white;
  position: absolute;
  left: 320px;
  bottom: 300px;
  transform: rotate(270deg);
}

td {
  cursor: pointer;
}
.v-datatable__actions {
  background: transparent !important;
}

#Project {
  color: white;
  position: absolute;
  right: 360px;
  bottom: 300px;
  transform: rotate(90deg);
}
.Main div {
  color: white;
  position: fixed;
}

.v-table,
.v-datatable {
  background: transparent !important;
}

.na {
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  border: 1px solid #1369cc99 !important;
}

.add_people {
  border-radius: 100%;
  height: 88px;
  margin: 0 auto;
  transform: scale(0.4);
  top: -27px;
  background: #0b43cb !important;
}

.containr_btn_add {
  width: 35px;
  margin: 0 auto;
  display: flex;
  padding: 5px;
}

button.add_people.theme--dark.v-btn {
  border-radius: 100%;
  height: 88px;
  margin: 0 auto;
  transform: scale(0.4);
  top: -27px;
  background: #0b43cb !important;
  left: -28px;
}

i.v-icon.mdi.mdi-plus.theme--dark {
  font-size: 40pt;
}

button.btn_votar.v-btn.v-btn--flat.theme--light.red--text.text--lighten3 {
  background: #2f5d85;
  text-align: center;
  margin: 0 auto;
}

button.btn_votar.theme--light.v-btn.v-btn--flat {
  background: #2f5a78d4;
  color: #af0808 !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

i.far.fa-copy {
  color: #2c3e6a;
}
button.btn_light_copy.v-btn.v-btn--flat.v-btn.theme--light {
  border-bottom: 1px solid #d7d7d7;
  margin-top: 13px;
  margin-left: 2px;
  font-size: 14pt;
}

p#st_text_copy {
  color: #267241;
  text-shadow: 1px 1px 1px #e3e3e3;
  font-weight: 500;
  font-size: 12pt;
  color: #532d09;
  text-shadow: 1px 1px 1px #e1e1e1;
}
.v-input.text_key.v-text-field.v-input--is-label-active.v-input--is-dirty.theme--light {
  width: 300px;
}

.container_key {
  display: flex;
}
